@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	background-color:#000000;
	color:#CACBBC;
	margin-left:0px;
	margin-top:0px;
	margin-right: 0px;
}
html {
	background-color:#000000;
}
*, body {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input, textarea {
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.vis {
	display:none;
	width:534px;
	height:288px;
}
.cdwavw {
	color:#00FF00;
	display:block;
	float:left;
	width:120px;
	height:120px;
	margin-left:41px;
	margin-top:28px;
}
.cdwav {
	color:#00FF00;
	display:block;
	float:left;
	width:100px;
	height:100px;
	margin:10px;
}
.cdwstop {
	width:484px;
	height:10px;
	margin:auto;
}
.cdwinput {
	color:#00FF00;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:1px solid #333333;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 10px;
	line-height: 22px;
	text-align:center;
	width:484px;
	margin:auto;
}
.cdwinputt {
	color:#00FF00;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 10px;
	line-height: 22px;
}
.cdwfoot {
	color:#00FF00;
	margin-top:4px;
}
.ctfoot {
	color:#00FF00;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	text-align:center;
}
.cdivlng {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:4px;
	display:block;
	width:25px;
	height:17px;
	cursor:pointer;
}
.cdivrndrback {
	margin:auto;
	width:534px;
	padding-top:4px;
	padding-bottom:4px;
}
.cdivlogo {
	margin:auto;
	width:400px;
	height:64px;
}
.hellot1 {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #00FF00;
	margin-bottom:4px;
}
.hellot {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
	color: #00CC00;
	margin-top:4px;
}
.cdwperson {
	color:#00CC00;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 10px;
	line-height: 18px;
	text-align:left;
	margin:0px;
	float:right;
	width:318px;
	margin-top:28px;
	margin-right:40px;
}
.cdwstatus{
	color:#00CC00;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 10px;
	line-height: 18px;
	text-align:left;
	margin:0px;
	display:block;
	width:490px;
	height:69px;
	margin-top:0px;
	margin-left:40px;
}
.cdwreg {
	color:#00CC00;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	font-size: 10px;
	line-height: 18px;
	text-align:center;
	margin:0px;
}
.cdivrndrii {
	display:block;
}
.cdivrndri {
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin:auto;
	width:450px;
	padding:2px;
}
.cdivrndr {
	display:block;
	margin:auto;
	padding:0px;
	display:block;
}
.cdivrndrerr {
	margin:auto;
	width:400px;
	height:170px;
	padding:0px;
}
.cwrap0 {
	margin:0px;
	overflow:hidden;
}
.cwrap {
	overflow:hidden;
	margin:0;
}
.cdivcanv {
	display:block;
	position:absolute;
	cursor:default;
	overflow:hidden;
}
.cdivcanv2d {
	display:none;
	position:absolute;
	cursor:default;
	overflow:hidden;
}
.cdivcanvmenu {
	display:none;
	position:absolute;
	cursor:default;
	overflow:hidden;
}
.cdivcanv3 {
	display:none;
	position:absolute;
	cursor:default;
}
.cdivcanvh {
	width:800px;
	height:650px;
	display:none;
	position:absolute;
}
.cdivcanvt {
	width:202px;
	height:42px;
	margin-top:50px;
	display:none;
	position:absolute;
}
.ccanv {
	width:800px;
	height:650px;
}
.ccanvt {
	width:200px;
	height:40px;
}
.txtload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	color: #000000;
	margin-bottom:4px;
}
.txterr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: #FF6666;
	margin-bottom:6px;
	margin-left:34px;
	margin-right:34px;
}
.txterra {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	margin-bottom:0px;
}
.txterra2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #333333;
	margin-bottom:0px;
	cursor:pointer;
	text-decoration:underline;
}
.cd2d {
	width:627px;
	margin:auto;
	background-color:#ECECE8;
	margin-top:10px;
	padding-bottom:10px;
}
.cheader {
	height:250px;
}
.cfooter {
	width:620px;
	height:30px;
	margin:auto;
	display:block;
	background-color:#DDDDDD;
	margin-top:10px;
	text-align:center;
	background-color:#DDDDDD;
	padding-top:10px;
	clear:both;
}
.cwrap2d {
	margin-left:10px;
	margin-right:10px;
}
.cmenu {
	width:605px;
	border-left:1px solid #6666CC;
}
.citem {
	font-family: Georgia, "Times New Roman", Times, serif;
	width:120px;
	height:30px;
	display:block;
	float:left;
	margin:0px;
	padding-top:10px;
	border-top:1px solid #6666CC;
	border-right:1px solid #6666CC;
	border-bottom:1px solid #6666CC;
	text-align:center;
	background-color:#DDDDDD;
}
.citemc {
	font-family: Georgia, "Times New Roman", Times, serif;
	width:120px;
	height:30px;
	border-top:1px solid #6666CC;
	border-right:1px solid #6666CC;
	text-align:center;
	display: block;
	float: left;
	padding-top:11px;
}
.citemg {
	width:164px;
	height:30px;
	border:1px solid #BBBBBB;
	background-color:#EEEEEE;
	text-align:center;
	display: block;
	float: left;
	padding-top:11px;
	cursor:pointer;
	margin-bottom:2px;
}
.citemgt {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:11px;
	line-height:20px;
	color:#000000;
}
.citeme {
	width:150px;
	height:30px;
	background-color:#DDDDDD;
	border-right: 1px solid #6666CC;
	display: block;
	float: left;
}
.cmaincont {
	margin-right:0px;
	margin-left:0px;
	display:block;
	float:left;
	border-left: 1px solid #6666CC;
	border-right: 1px solid #6666CC;
	border-bottom: 1px solid #6666CC;
	width: 604px;
}
.cmain {
	margin:0px;
}
.cmaini {
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;
	min-height:30px;
}
.cgimenu {
	margin-left:2px;
	margin-top:2px;
	display:none;
}
.cgi {
	width:200px;
	height:150px;
	display: block;
	float: left;
}
.cgie {
	width:200px;
	height:150px;
	display: block;
	float: left;
}
.cgibox01 {
	width:150px;
	height:100px;
	display: block;
	float: left;
}
.cgiboxitem {
	width:196px;
	height:120px;
}
.cgiboxitemdi {
	width:150px;
	height:100px;
	display:block;
	cursor:pointer;
	margin-top:13px;
	margin-left:13px;
}
.cgiboxitemdt {
	width:196px;
	height:16px;
}
.cgiboxitemt {
	font:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:10px;
	color:#CCCCCC;
}
.cgimenuitem {
	display:none;
	width:555px;
	height:408px;
	border:4px solid #FFFFFF;
	background-color:#CCCCCC;
	position:absolute;
	margin-top:10px;
	margin-left:20px;
}
.cgimenuitemt {
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	color:#000000;
}
.cgimenuitemd1t {
	padding:8px;
}
.cgimenuitemd2t {
	margin-top:4px;
	padding:8px;
	height:50px;
	overflow:hidden;
}
.cgimenuitemt1 {
	font:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#000000;
	font-style:italic;
}
.cgimenuitemt2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:12px;
	line-height:14px;
	color:#000000;
}
.cgimenuitemtmenu {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	color:#000000;
}
.titem {
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	line-height: 20px;
	color:#333333;
	display:block;
}
.titemc {
	font:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	line-height: 20px;
	color:#666666;
	display:block;
	cursor:pointer;
}
.tmain {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:12px;
	line-height: 20px;
	color:#000000;
	margin-bottom:10px;
	text-indent:16px;
	text-align:justify;
}
.tmainh {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size:22px;
	line-height:28px;
	color:#333366;
	margin-bottom:10px;
	text-align:center;
}
.tmaind {
	font:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:11px;
	line-height:16px;
	color:#666666;
	margin-bottom:10px;
	text-align:left;
	background-color:#DDDDDD;
	text-indent:16px;
}
.form-input {
	margin:1px;
	padding:2px;
	width:80px;
	background-color: transparent;
	border: 1px solid #666666;
	font-family: Arial, Helvetica, sans-serif;
	color: #DDDDDD;
	font-size: 12px;
	line-height: 15px;
	vertical-align: middle;
}
.form-button {
	margin:2px;
	width:90px;
	height:21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 21px;
	vertical-align: middle;
	cursor:pointer;
}
.centernotauth{
	display:block;
}
.centerauth{
	display:none;
}
.cdivtxtbutkey {
	width:114px;
	margin:auto;
}
.ctxtbutkey {
	margin:2px;
	width:110px;
	height:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 30px;
	vertical-align: middle;
	cursor:pointer;
}
